{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["add-module-exports",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "scripts": "./app/scripts",
        "tests": "./tests"
      }
    }]
  ]
}
